<div class="container">
    <div class="card">

        <div class="header">
            <h3 style="text-align: center;">Your Order is Confirmed</h3>
        </div>
        <div>
            <img src="assets/tick.jpeg" alt="Tick" class="center" style="margin-left: 40%;float: left;width: 30%;" />
        </div>
        <div class="body">
            <p style="text-align: center;">Email has been sent with Details!</p>
        </div>

    </div>
</div>
<!-- <img src="assets/tick.jpeg" alt="Tick" class="center" />
    <h5> The Event has been successfully Registered</h5>
    <h2> Thank you for registering with us! </h2>
    <div class="card">
        <div class="header">
            <p>Event Order Summary</p>
        </div>
        <div class="container">
            <p>First Name: </p><input type="text" name="firstname" value="" />
            <p>Last Name: </p><input type="text" name="lastName" value="" />
            <p>Email: </p><input type="text" name="email" value="" />
            <p>Phone: </p><input type="text" name="phone" value="" />
            <p>Number of Attendes: </p><input type="numberOfPeople" name="fname" value="" />
        </div>
    </div> -->