<div class="container mt-2">
    <h5>ARTISTS</h5>
    <ul class="artist-container">
        <li>
            <div [appHover]="'hsl(0, 86%, 58%)'" [defaultColor]="'transparent'">
                <img src="assets/artist1.jpg" alt="artist"/>
                <p>Adele</p>
            </div>
        </li>
        <li>
            <div [appHover]="'hsl(0, 86%, 58%)'" [defaultColor]="'transparent'">
                <img src="assets/artist2.png" alt="artist"/>
                 <p>Post malone</p>
            </div>
        </li>
        <li>
            <div [appHover]="'hsl(0, 86%, 58%)'" [defaultColor]="'transparent'">
                <img src="assets/artist3.png" alt="artist"/>
                 <p>Dua Lipa</p>
            </div>
        </li>
        <li>
            <div [appHover]="'hsl(0, 86%, 58%)'" [defaultColor]="'transparent'">
                <img src="assets/artist4.png" alt="artist"/>
                 <p>Eminem</p>
            </div>
        </li>
        <li>
            <div [appHover]="'hsl(0, 86%, 58%)'" [defaultColor]="'transparent'">
                <img src="assets/artist5.jpg" alt="artist"/>
                 <p>Ed Sheeran</p>
            </div>
        </li>
    </ul>
</div>
