<nav class="navbar navbar-expand-sm navbar-light bg-faded bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <a class="navbar-brand img-fluid" href=""><img src="/assets/huskylogo.jpg" alt="Sample photo" height="32px"></a> -->
    <a class="navbar-brand img-fluid" href=""><img src="/assets/logoNav.png" alt="Sample photo" height="32px"></a>

    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">



            <!-- <div class="dropdown">
                <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fa fa-fw fa-location-arrow fa-2x"></i></button>
                <span class="caret"></span>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left"
                    aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">Select City</h6>
                    <a class="dropdown-item" href="#">Boston</a>
                    <a class="dropdown-item" href="#">Seattle</a>
                    <a class="dropdown-item" href="#">Vancouver</a>
                    <a class="dropdown-item" href="#">Toronto</a>
                </div>
            </div> -->

            <li class="nav-item">
                <button class="btn" routerLink="/events"><i class="bi bi-search"></i> </button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#exampleModal" routerLink="/signup"><i
                        class="bi bi-person-circle"></i></button>
            </li>
            <!-- Dropdown Directive -->
            <!-- <div class="btn-group" appDropdown>
                <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="fa fa-fw fa-location-arrow fa-2x"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Boston</a></li>
                    <li><a href="#">Seattle</a></li>
                    <li><a href="#">Toronto</a></li>
                </ul>
            </div> -->
        </ul>

    </div>

</nav>